<div class="container">

    <link rel="stylesheet" href="/css/signup.css" />

    <div class="container">

        {{> errors}}
        <div class="row">

            <div class="col-8 offset-2 mt-5">
                <main class="form-signin h-flex">
                    <form action="/users/signup" method="POST">

                        <div class="cImg text-center">
                            <img class="mb-4" src="/img/logo.png" alt="" width="72" height="72" />
                        </div>

                        <h1 class="h3 mb-3 fw-normal text-center">Por favor, registrese</h1>

                        <div class="form-floating">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Fulano de Tal"
                                required value="{{name}}" />
                            <label for="name">Nombre completo</label>
                        </div>

                        <div class="form-floating">
                            <input value="{{email}}" type="email" name="email" class="form-control" id="email"
                                placeholder="name@example.com" />
                            <label for="email">Correo electronico</label>
                        </div>

                        <div class="form-floating">
                            <input type="password" class="form-control" id="password" name="password"
                                placeholder="***********" />
                            <label for="password">Contraseña</label>
                        </div>

                        <div class="form-floating">
                            <input type="password" class="form-control" id="confirm_password" name="confirm_password"
                                placeholder="***********" />
                            <label for="confirm_password">Contraseña</label>
                        </div>

                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" value="remember-me" />
                                Recordarme
                            </label>
                        </div>
                        <button class="w-100 btn btn-lg btn-primary text-center" type="submit">
                            ENTRAR
                        </button>
                        <p class="mt-5 mb-3 text-muted text-center">&copy; 2021</p>
                    </form>
                </main>
            </div>

        </div>

    </div>

</div>